<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yswl.yswletc.dao.AchievementMapper">
  <resultMap id="BaseResultMap" type="com.yswl.yswletc.entity.Achievement">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="username" jdbcType="VARCHAR" property="username" />
    <result column="uid" jdbcType="VARCHAR" property="uid" />
    <result column="phone" jdbcType="VARCHAR" property="phone" />
    <result column="project" jdbcType="INTEGER" property="project" />
    <result column="carid" jdbcType="VARCHAR" property="carid" />
    <result column="picturepath" jdbcType="VARCHAR" property="picturepath" />
    <result column="remarks" jdbcType="VARCHAR" property="remarks" />
    <result column="state" jdbcType="INTEGER" property="state" />
  </resultMap>
</mapper>