<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yswl.yswletc.dao.NewAchievementMapper">
    <resultMap id="BaseResultMap" type="com.yswl.yswletc.entity.NewAchievement" >
        <id column="id" property="id" jdbcType="INTEGER" />
        <result column="uid" property="uid" jdbcType="INTEGER" />
        <result column="uname" property="uname" jdbcType="VARCHAR" />
        <result column="pid" property="pid" jdbcType="INTEGER" />
        <result column="username" property="username" jdbcType="VARCHAR" />
        <result column="phone" property="phone" jdbcType="VARCHAR" />
        <result column="itemname" property="itemname" jdbcType="VARCHAR" />
        <result column="carid" property="carid" jdbcType="VARCHAR" />
        <result column="picturepath" property="picturepath" jdbcType="VARCHAR" />
        <result column="remarks" property="remarks" jdbcType="VARCHAR" />
        <result column="commission" property="commission" jdbcType="DECIMAL" />
        <result column="Submittime" property="submittime" jdbcType="TIMESTAMP" />
        <result column="state" property="state" jdbcType="INTEGER" />
        <result column="reason" property="reason" jdbcType="VARCHAR" />
    </resultMap>

    <delete id="deleteAll">
        truncate table t_newachievement
    </delete>

    <insert id="insertAll" parameterType="com.yswl.yswletc.entity.NewAchievement">
      INSERT INTO t_newachievement (id, uid, uname,
      pid, username, phone,
      itemname, carid, picturepath,
      remarks, commission, Submittime,
      state, reason)
      VALUES
      <foreach collection="list" item="item" index="index" separator="," >
      (#{item.id,jdbcType=INTEGER}, #{item.uid,jdbcType=INTEGER}, #{item.uname,jdbcType=VARCHAR},
      #{item.pid,jdbcType=INTEGER}, #{item.username,jdbcType=VARCHAR}, #{item.phone,jdbcType=VARCHAR},
      #{item.itemname,jdbcType=VARCHAR}, #{item.carid,jdbcType=VARCHAR}, #{item.picturepath,jdbcType=VARCHAR},
      #{item.remarks,jdbcType=VARCHAR}, #{item.commission,jdbcType=DECIMAL}, #{item.submittime,jdbcType=TIMESTAMP},
      #{item.state,jdbcType=INTEGER},#{item.reason,jdbcType=VARCHAR})
      </foreach>
    </insert>
</mapper>