<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yswl.yswletc.dao.ProjectMapper">
  <resultMap id="BaseResultMap" type="com.yswl.yswletc.entity.Project">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="log" jdbcType="VARCHAR" property="log" />
    <result column="projectname" jdbcType="VARCHAR" property="projectname" />
    <result column="introduce" jdbcType="VARCHAR" property="introduce" />
    <result column="remainders" jdbcType="INTEGER" property="remainders" />
    <result column="commission" jdbcType="DECIMAL" property="commission" />
    <result column="qrcodepath" jdbcType="VARCHAR" property="qrcodepath" />
    <result column="state" jdbcType="INTEGER" property="state" />
  </resultMap>
</mapper>